body{
    text-align: center;
    margin-top: 240px;
}
#timer{
    font-family: "lato";
    font-size: 100px;
    font-weight: 300;
}
button{
    width: 200px;
    height: 35px;
}
button:hover{
    cursor: pointer;
}