div{
  /*border-style: solid;*/
  width: 1364px;
  height: 652px;
  border-color: black;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
}
#para1{
    width:100%;
    height: 30%;
    font-family: 'Roboto', sans-serif;
    background-color: blue;
}
#para2{
    width:30%;
    height:70%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color:rgb(0, 174, 255);
}
#para3{
    width:45%;
    height:60%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 5%;
    background-color: chartreuse;
}
#p1{
    width:80%;
    height:20%;
    background-color: rgb(0, 255, 242);
    padding: 5%;
}
#p2{
    width:80%;
    height:50%;
    background-color: rgb(0, 255, 242);
    padding: 3%;
}
#para4{
    width:25%;
    height:70%;
    background-color:rgb(0, 174, 255);
}
#para1,p{
    text-align: center;
}
h1{
    padding-left: 40%;
    padding-top: 5%;
}
p{
    padding-top: 40%;
}
body{
    padding: 0;
    margin: 0;
}
#ref{
    width: 40%;
    height: 8%;
    border-style: 2px;
    border-width: 5px;
    position: relative;
    top:35%;
    left:30%;
    border:10px solid blue;

}
#ref:hover{
    background:gray;
}
#chrono{
    border:1px solid yellow;
    width: 100%;
    height: 15%;
    position: relative;
    top:35%;
    justify-content: center;
    background-color: tomato;
    font-family: "lato";
    font-size:60px;
    font-weight: 90;
}
